
/*調色盤*/
.palette{
  width: 100%;
}

.palette_style01{
  height: 16px;
  width: 16px;
  float: left;
  background: #000000; 
 }
 
.palette_style02{
  height: 16px;
  width: 16px;
  float: left;
  background: #3f3f3f; 
 }

.palette_style03{
  height: 16px;
  width: 16px;
  float: left;
  background: #7f7f7f; 
}

.palette_style04{
  height: 16px;
  width: 16px;
  float: left;
  background: #bfbfbf; 
 }
 
.palette_style05{
  height: 16px;
  width: 16px;
  float: left;
  background: #ffffff; 
 }

.palette_style06{
  height: 16px;
  width: 16px;
  float: left;
  background: #ff0000; 
 }

.palette_style07{
  height: 16px;
  width: 16px;
  float: left;
  background: #ff7f00; 
 }
 
 .palette_style08{
  height: 16px;
  width: 16px;
  float: left;
  background: #ffff00; 
 }
 
 .palette_style09{
  height: 16px;
  width: 16px;
  float: left;
  background: #7fff00; 
 }
 
 .palette_style10{
  height: 16px;
  width: 16px;
  float: left;
  background: #00ff00; 
 }
 
 .palette_style11{
  height: 16px;
  width: 16px;
  float: left;
  background: #00ff7f; 
 }
 
 .palette_style12{
  height: 16px;
  width: 16px;
  float: left;
  background: #00ffff; 
 }
 
 .palette_style13{
  height: 16px;
  width: 16px;
  float: left;
  background: #007fff; 
 }
 
 .palette_style14{
  height: 16px;
  width: 16px;
  float: left;
  background: #0000ff; 
 }
 
 .palette_style15{
  height: 16px;
  width: 16px;
  float: left;
  background: #7f00ff;
 }
 
 .palette_style16{
  height: 16px;
  width: 16px;
  float: left;
  background: #ff00ff; 
 }
 
 .palette_style17{
  height: 16px;
  width: 16px;
  float: left;
  background: #ff007f; 
 }
 
 .palette_style18{
  height: 16px;
  width: 16px;
  float: left;
  background: #7f0000; 
 }
 
 .palette_style19{
  height: 16px;
  width: 16px;
  float: left;
  background: #7f3f00; 
 }
 
 .palette_style20{
  height: 16px;
  width: 16px;
  float: left;
  background: #7f7f00; 
 }
 
 .palette_style21{
  height: 16px;
  width: 16px;
  float: left;
  background: #3f7f00; 
 }
 
 .palette_style22{
  height: 16px;
  width: 16px;
  float: left;
  background: #007f00; 
 }
 
 .palette_style23{
  height: 16px;
  width: 16px;
  float: left;
  background: #007f3f; 
 }
 
 .palette_style24{
  height: 16px;
  width: 16px;
  float: left;
  background: #007f7f; 
 }
 
 .palette_style25{
  height: 16px;
  width: 16px;
  float: left;
  background: #003f7f; 
 }
 
 .palette_style26{
  height: 16px;
  width: 16px;
  float: left;
  background: #00007f; 
 }
 
 .palette_style27{
  height: 16px;
  width: 16px;
  float: left;
  background: #3f007f; 
 }
 
 .palette_style28{
  height: 16px;
  width: 16px;
  float: left;
  background: #7f007f; 
 }
 
 .palette_style29{
  height: 16px;
  width: 16px;
  float: left;
  background: #7f003f; 
 }
 
 .palette_style30{
  height: 16px;
  width: 16px;
  float: left;
  background: #ffaaaa; 
 }
 
 .palette_style31{
  height: 16px;
  width: 16px;
  float: left;
  background: #ffd4aa; 
 }
 
 .palette_style32{
  height: 16px;
  width: 16px;
  float: left;
  background: #ffffaa; 
 }
 
 .palette_style33{
  height: 16px;
  width: 16px;
  float: left;
  background: #d4ffaa; 
 }
 
 .palette_style34{
  height: 16px;
  width: 16px;
  float: left;
  background: #aaffaa; 
 }
 
 .palette_style35{
  height: 16px;
  width: 16px;
  float: left;
  background: #aaffd4; 
 }
 
 .palette_style36{
  height: 16px;
  width: 16px;
  float: left;
  background: #aaffff; 
 }
 
 
.palette_style37{
  height: 16px;
  width: 16px;
  float: left;
  background: #aad4ff; 
 }
 
 .palette_style38{
  height: 16px;
  width: 16px;
  float: left;
  background: #aaaaff; 
 }
 
 .palette_style39{
  height: 16px;
  width: 16px;
  float: left;
  background: #d4aaff; 
 }
 
 .palette_style40{
  height: 16px;
  width: 16px;
  float: left;
  background: #ffaaff; 
 }
 
 .palette_style41{
  height: 16px;
  width: 16px;
  float: left;
  background: #ffaad4; 
 }
 
 
 .palette_election_Text{
   float: left;
   height: 32px;
   width: 32px;
   background: #000000;
 }
 .palette_election_Fill{
   float: left;
   height: 32px;
   width: 32px;
   background: #000000;
 }

 
