.module{
	//box-shadow: 10px 10px 31px #fff;
	background: #333;
	position:absolute;
	right: 13%;
	left: 13%;
}

#menuPane{
	margin:0px;
	padding:5px;
    background: #444;
    text-align:right;
}
#menuPane a:link,
#menuPane a:visited{color:#fff;}

body
{
    background-color: #292929;
    margin: 0;
}
#main{
	float:left; 
	width:80%;
	
}

#top{
	border-bottom:3px groove #fff;
	padding: 10px 0 15px 5px;
}
#top .title{
	font-size: 52px;
	color: #fff;
}

#right{
	float:right; 
	border-left:3px groove #fff;
	right:0;
	width:19%
	
}
#right ul li{
	list-style-type: none;
	border-bottom:1px dashed #eee;
}

#bottom{
	position:absolute; 
	bottom:0;
	border-top:3px groove #fff;
}

.textPane{  padding:10px;}


