div{border:solid 2px #fff; }
.module{
	box-shadow: 10px 10px 31px #fff;
	position:absolute;
	right: 15%;
	left: 15%;
}

#menuPane{
	margin:0px;
	padding:5px;
    background-color: #111;
    text-align:right;
}
body
{
    background-color: #a2d9ff;
    margin: 0;
}

#top .title{
	font-size: 30px;
	color: #fff;
}
#main{float:left; width:80%}

#right{float:right; right:0;width:19%}
#right ul li{
	list-style-type: none;
	border-bottom:1px dashed #eee;
}

#bottom{position:absolute; bottom:0;}

.textPane{ background:#fff; padding:10px;}


