/*初始設定*/
	/*設定給不支援HTML5的瀏覽器*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
  display:block;
}

body{ line-height: 1;}
ol, ul{ list-style:none; }

pre{ 
	border: 2px dashed #666;
	padding: 5px 0 0 5px;
	border-radius: 5px;
}

/*連結樣式*/
a, a:visited{
	color:rgb(20,20,150);
	text-decoration: none;
}

a:active, a:focus{
	color: rgb(0, 50, 200);
	position: relative;
	top: 1px;
}

a.hover{ color:rgb(50,50,200);}

/*基本設定*/
html{
	margin-bottom: 1px;
	min-height: 100%;
}
body{
	background: rbg(200, 200, 200);
	color:#444;
}

#topPane{
	background: rgb(75,100,250);
	position: relative;
	left: 5px;
	margin: 0 auto;
	height: 150px;
	width: 100%;
	border-radius: 15px;
}

#topPane hgroup{
	color:#fff;
	height: 125ppx;
	margin: 0 0 0 40px;
	padding-top: 20px;
	width: 500px;
}

#topPane hgroup h2{
	margin: 0;
	position: relative;
	left: 200px;
	top: -25px;
	line-height: 1;
	font-size: 16px;
}

#topPane > ul{
	color:#fff;
	position: absolute;
	right: 40px;
	top: 10px;
}

#topPane > ul li{
	float: left;
}

#topPane > ul li:after{
	content: "\007C";
}

#topPane > ul li a{
	color:#fff;
	padding: 0 5px;
	text-decoration: underline;
}

/*中央區塊*/
#centerPane{
	margin:0 auto 0;
	padding: 20px 0 0 0;
	width: 1000px;
	box-shadow: 0 10px 50px rgba(0, 0, 0, 0.5);
}

#articlePane{
	float: left;
	margin: 0 0 20px 0;
}

#mainPane{
	border-right: 4px solid #ccc;
	float: left;
	margin: 0 10px 0 0;
	padding: 0 10px 0 20px;
	position: relative;
	width: 700px;
}

#mainPane section header{

	margin: 0 0 20px;
	padding: 0 0 10px 30px;
}

#mainPane section h1{ font-size: 2em; }

#mainPane section header h1{color:rgb(100, 150, 250);}

#mainPane section aside{
	margin: 0 auto 30px;
	padding: 0 0 0 5px;
	width: 450px;
}

#mainPane section footer{
	margin: 20px auto 10px;
	padding: 0 0 5px 0;
	border-top: 2px solid #ccc;
}

#mainPane section footer ul{
	float: right;
}

#infoPane{
	clear: both;
	margin: 40px auto 0;
	padding: 0 0 40px 0;
	width: 900px;
}

.centerInfo{
	float:right;
	padding: 0 0 20px 30px;
	width: 200px;
}

.centerInfo ul{ margin:0; padding: 0;}

.group:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

