/*基本格式*/
body{
	color: #999999;
	font-size: 12px;
	background: #000000;
}


h1{

}

/*表格樣式*/
.table{

}

/*超連結樣式*/
.link{

}

/*程式碼樣式*/
.code{

}


/*上方表格樣式*/
.toptable_style{

}

/*內文表格樣式*/
.maintable_style{

}

/*區塊設定*/
.areasetting{

}

